<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breathe</title>
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="../js/jquery.min.js"></script>
    <script>if (window.module) module = window.module;</script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link href="../css/material-components-web.min.css" rel="stylesheet" />
    <script src="../js/material-components-web.min.js"></script>
</head>

<body>
    <div class="main-grid">
        <div class="brand">
            <div class="flower">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="content">
            <h1 class="title">Breathe</h1>
            <span class="subtitle">Simple daily breathing reminders</span>
            <div class="inline-controls">
                <div class="mdc-select mdc-select--outlined notify">
                    <div class="mdc-select__anchor" aria-labelledby="outlined-select-label">
                        <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                        <span class="mdc-select__dropdown-icon">
                            <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5">
                                <polygon class="mdc-select__dropdown-icon-inactive" stroke="none" fill-rule="evenodd"
                                    points="7 10 12 15 17 10">
                                </polygon>
                                <polygon class="mdc-select__dropdown-icon-active" stroke="none" fill-rule="evenodd"
                                    points="7 15 12 10 17 15">
                                </polygon>
                            </svg>
                        </span>
                        <span class="mdc-notched-outline">
                            <span class="mdc-notched-outline__leading"></span>
                            <span class="mdc-notched-outline__notch">
                                <span id="outlined-select-label" class="mdc-floating-label">Remind every</span>
                            </span>
                            <span class="mdc-notched-outline__trailing"></span>
                        </span>
                    </div>


                    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                        <ul class="mdc-list">
                            <li class="mdc-list-item mdc-list-item--selected" data-value="" aria-selected="true">
                                <span class="mdc-list-item__ripple"></span>
                            </li>
                            <li class="mdc-list-item" data-value="20">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">20 Minute</span>
                            </li>
                            <li class="mdc-list-item" data-value="40">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">40 Minutes</span>
                            </li>
                            <li class="mdc-list-item" data-value="60">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">60 Minutes</span>
                            </li>
                            <li class="mdc-list-item" data-value="80">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">80 Minutes</span>
                            </li>
                            <li class="mdc-list-item" data-value="100">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">100 Minutes</span>
                            </li>
                            <li class="mdc-list-item" data-value="120">
                                <span class="mdc-list-item__ripple"></span>
                                <span class="mdc-list-item__text">120 Minutes</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="mdc-button mdc-button--outlined stopRemindBtn">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Stop Reminders</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label" role="status" aria-live="polite">
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
    const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));

    select.listen('MDCSelect:change', () => {
        console.log(`selected ${select.value}`);
        let data = { mins: `${select.value}` };
        console.log(data);
        $.post("http://127.0.0.1:5000/reminder", data, function (result) { });
        $('.mdc-snackbar__label').text(`Reminder set for ${select.value} minutes`);
        snackbar.open();
    });

    $('.stopRemindBtn').click(function(event){
        event.preventDefault();
        $.post("http://127.0.0.1:5000/stop", function (result) { });
        $('.mdc-snackbar__label').text(`Stopped Reminders`);
        snackbar.open();
    })
</script>

</html>